body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0d1117;
    color: #f0f6fc;
    line-height: 1.6;
}

header {
    background: linear-gradient(90deg, #0b3d91, #00c853);
    text-align: center;
    padding: 60px 20px;
}

header h1 {
    margin: 0;
    font-size: 3rem;
}

nav {
    background: #161b22;
    text-align: center;
    padding: 15px;
}

nav a {
    color: #58a6ff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #00e676;
}

section {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

h2 {
    color: #58a6ff;
    border-bottom: 2px solid #00c853;
    padding-bottom: 10px;
}

footer {
    text-align: center;
    background: #161b22;
    padding: 20px;
    margin-top: 40px;
}
.hero{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
    background:
    linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.65)),
    url("https://images.unsplash.com/photo-1518770660439-4636190af475?auto=format&fit=crop&w=1600&q=80");
    background-size:cover;
    background-position:center;
}

.hero h1{
    font-size:4rem;
    margin:10px 0;
}

.hero h2{
    color:#00e676;
    font-weight:normal;
}

.intro{
    max-width:700px;
    margin:25px auto;
    font-size:1.2rem;
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:15px 35px;
    background:#00c853;
    color:white;
    text-decoration:none;
    border-radius:30px;
    font-weight:bold;
    transition:.3s;
}

.btn:hover{
    background:#009624;
}

.welcome{
    color:#58a6ff;
    letter-spacing:4px;
}
